<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <connectionStrings>
    <add name="tflgreenhouse"
          connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\tfladmin\source\repos\CompleteLooselyCoupledApp\TestConsoleApp\TFLGreenhouse.mdf;Integrated Security=True"/>
  </connectionStrings>
</configuration>